# Project exclude paths
/.gradle/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/
/Topics/Conditional statement/Interval/out/
/Topics/Conditional statement/Interval/out/production/classes/
/Topics/Increment and decrement/Decrement all/out/
/Topics/Increment and decrement/Decrement all/out/production/classes/
/Topics/Integer types and operations/Arithmetic expression/out/
/Topics/Integer types and operations/Arithmetic expression/out/production/classes/
/Topics/Integer types and operations/Reading integer numbers/out/
/Topics/Integer types and operations/Reading integer numbers/out/production/classes/
/Topics/Integer types and operations/The sum of digits/out/
/Topics/Integer types and operations/The sum of digits/out/production/classes/
/Topics/Relational operators/Is between/out/
/Topics/Relational operators/Is between/out/production/classes/
/Topics/Scanning the input/Print strings in the reverse order/out/
/Topics/Scanning the input/Print strings in the reverse order/out/production/classes/
/Topics/Scanning the input/Printing each word in a new line/out/
/Topics/Scanning the input/Printing each word in a new line/out/production/classes/
/Topics/String/Extracting a substring/out/
/Topics/String/Extracting a substring/out/production/classes/
/Topics/String/Replacing 'a' with 'b'/out/
/Topics/String/Replacing 'a' with 'b'/out/production/classes/
/Topics/The for-loop/The count of numbers divisible by N/out/
/Topics/The for-loop/The count of numbers divisible by N/out/production/classes/